//  Базовые стили

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: $body-bg;
  color: $text-color;
	font-family: $font-family-AvenirLT-300;
  font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

a {
  // color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    // color: $link-color--hover;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.page-container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.my-container {
  max-width: 1280px;
  margin-left: auto;
  overflow: hidden;
}

.wrapper-content {
  overflow: hidden;
  padding-top: 55px;
}

.wrapper {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
}

.icon {
  display: inline-block;
}

.display-block {
  display: block;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.font-w-300 {
  font-family: $font-family-AvenirLT-300;
}

.font-w-900 {
  font-family: $font-family-AvenirLT-900;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}


h1, h2, h3, h4 {
  margin: 0;
}
