//  Базовые стили

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: $body-bg;
  color: $text-color;
	font-family: $font-family-AvenirLT-300;
  font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.page-container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.my-container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-content {
  overflow: hidden;
  padding-top: 55px;

  @include max-w($screen-md) {
    display: flex;
    flex-direction: column;
  }

  @include max-w(1280px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include max-w($screen-md) {
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
}

.wrapper {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
  padding-bottom: 5rem;

   @include max-w($screen-md) {
    padding-bottom: 5rem;
  }
}

.icon {
  display: inline-block;
}

.display-block {
  display: block;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.font-w-300 {
  font-family: $font-family-AvenirLT-300;
}

.font-w-900 {
  font-family: $font-family-AvenirLT-900;
}

.article-span-color {
  color: #666666;
}

.display-block {
  display: block;
}

.orange-color {
  color: #ff6600;
}

.text-tr-up {
  text-transform: uppercase;
}

.hide-if-768 {

  @include max-w(768px) {
    display: none;
  }
}

.margin-t-20 {
  margin-top: 20px;
}



ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

