/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-footer-img-1 {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -36px;
  width: 120px;
  height: 34px;
}
.icon-footer-img-2 {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -72px;
  width: 74px;
  height: 34px;
}
.icon-footer-img-3 {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 135px;
  height: 34px;
}
