// Кнопки

.btn {
  width: 129px;
  padding-top: 5.5px;
  padding-bottom: 2.5px;
  padding-right: 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  transition: 0.5s;
}

.btn-sign-up {
  background-color: $button-sign-up-color;
  border-bottom: 3px solid #038740;
  height: 41px;
  padding-top: 3px;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
  text-align: center;
}

.btn-sign-up:hover {
  background-color: $button-sign-up-color--hover;
}

.btn-login {
  background-color: $button-login-color;
  border-bottom: 3px solid #0065af;
  height: 41px;
  padding-top: 3px;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
  text-align: center;
}

.btn-login:hover {
  background-color: $button-login-color--hover;
}


//sidebar

.btn-sidebar {
  width: 129px;
  padding-top: 4px;
  border: none;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  vertical-align: middle;
}


// btn-offline

.btn-offline {
  background-color: #cecece;
  border-bottom: 3px solid #b7b7b7;
  padding-left: 20px;
  padding-right: 10px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
  background-image: url(../images/envelope.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  transition: 0.5s;

  i {
    font-size: 18px;
  }

  .fa-envelope:before {
    width: 18px;
    height: 14px;
  }
}

.btn-offline:hover {
  background-color: #bababa;
  border-bottom: 3px solid #a5a5a5;
}


//btn-session

.btn-session {
  background-color: #0058e9;
  border-bottom: 3px solid #003493;
  height: 30px;
  cursor: default;
}

//btn-chat

.btn-chat {
  background-color: #0acf66;
  border-bottom: 3px solid #05a450;
  height: 30px;
  cursor: default;
}

//btn-show

.btn-show {
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  background-color: #ffaa31;
  border-bottom: 3px solid #cd6600;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  color: #fff;
  font-size: 1.6rem;
  transition: 0.5s;
}

.btn-show:hover {
  background-color: #ff9400;
}

.btn:focus {
  outline: none;
}


//burger-menu

.burger-menu {
  display: none;
  width: 33px;
  float: right;
  z-index: 3;

  @include max-w($screen-md) {
    display: block;
    position: absolute;
    right: 19px;
    top: 12px;
  }

  @include max-w($screen-sm) {
    right: 14px;
    top: 10px;
  }

  @include max-w(375px) {
    right: 4px!important;
    top: 21px!important;
  }

   @include max-w(320px) {
    right: 3px!important;
    top: 22px!important;
  }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 6px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;

    @include max-w($screen-md) {
      height: 5px;
    }

    @include max-w($screen-xs) {
      height: 3px;
      width: 27px;
      height: 4px;
      margin-top: 0px;
      margin-bottom: 7px;
    }

    @include max-w(480px) {
      height: 4px;
      width: 30px;
      margin-top: 5px;
      margin-right: 0px;
      margin-bottom: 6px;
      margin-left: 0px;
    }

    @include max-w(375px) {
      height: 4px;
      width: 24px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 3px;
      margin-left: 0px;
    }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;

  @include max-w(768px) {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px) ;
    transform: rotate(-45deg) translate(-8px, 7px) ;
  }
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.bg-bar {
  background-color: #993300;

  @include max-w(480px) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    margin-left: 0px;
  }

  @include max-w(375px) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    margin-left: 0px;
  }
}


//btn-search

.btn-search {
  border: none;
  color: #cc6600;
  background-color: white;
  transition: 0.5s;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  border-radius: 0 3px 3px 0;

  i {
    font-size: 19px;
  }
}

.btn-search:focus {
  outline: none;
}



//slider-check button

.slider-check {

  button {
    margin: 0 auto;

     @include max-w($screen-md) {
      width: 128px;
      height: 41px;
    }
  }
}


//profile-btn-session

.profile-btn-session {
  width: 100%;
  border-radius: 3px;
  background-color: #ff1f00;
  border-bottom: 3px solid #c51500;
  transition: 0.5s;
  padding-top: 3px;
  padding-bottom: 0;
  height: 30px;
}


.btn-in-session:hover {
  background-color: #ff0000;
}

button:focus {
  outline: none;
}



//profile-btn-online

.profile-btn-online {
  width: 100%;
  border-radius: 3px;
  background-color: #0acf66;
  border-bottom: 3px solid #05a450!important;
  transition: 0.5s;
  padding-top: 3px;
  padding-bottom: 0;
  border-bottom: 0;
  height: 30px;
}

.profile-btn-online:hover {
  background-color: #07b85b;
}



//profile-btn-offline
.profile-btn-offline {
  width: 100%;
  border-radius: 3px;
  background-color: #cecece;
  border-bottom: 3px solid #b7b7b7;
  transition: 0.5s;
  padding-top: 3px;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 8px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  background-image: url(../images/envelope.png);
  background-repeat: no-repeat;
  background-position: center right 10px;

  i:nth-child(1) {
    margin-left: 19px;
    font-size: 11px;
    text-transform: none;
    font-style: normal;

    @include max-w(320px) {
      display: none;
    }
  }

  i:nth-child(1):before {
    content: "";
    position: absolute;
    height: 23px;
    width: 2px;
    top: 3px;
    left: 60px;
    border-right: 2px solid #b6b6b6;
  }
}


.profile-btn-offline:hover {
   background-color: #bababa;

   i:nth-child(1):before {
    content: "";
    position: absolute;
    height: 23px;
    width: 2px;
    top: 3px;
    left: 60px;
    border-right: 2px solid #a3a3a3;
  }
}



//more-info__buttons

.more-info__buttons {

  button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    height: 41px;
    vertical-align: middle;
    padding-bottom: 0px;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid #b7b7b7;
    background-color: #cecece;
    transition: 0.5s;
  }

  button:hover {
    background-color: #ffaa31;
    border-bottom: 3px solid #cd6600;
  }

  button:nth-child(1) {
    width: 184px;

    @include max-w($screen-sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  button:nth-child(2) {
    width: 229px;

    @include max-w($screen-sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  button:nth-child(3) {
    width: 137px;

    @include max-w($screen-sm) {
      width: 100%;
    }
  }
}


.profile-btn-login {
  width: 129px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding-top: 7px;
  padding-bottom: 4px;
  display: block;
  border: none;
  color: #fff;
  border-radius: 3px;
  background-color: #0acf66;
  border-bottom: 3px solid #05a450;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  transition: 0.5s;
}

.profile-btn-login:hover {
   background-color: #07b85b;
}



//profile-btn

.profile-btn {
  font-size: 14px;
}
