// Все элементы формы

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  border: 1px solid #dedede;
  padding: 15px;
  // color: #333;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 12px;
}

input[type='search'] {
  max-width: 200px;
  background: none;
  outline: 0 none;
  border: none;
  padding-bottom: 6px;
  float: left;
  font-family: $font-family-AvenirLT-900;
  color: #cc6600;
  font-size: 1.2rem;
  line-height: 2.5rem;

  @include max-w(1024px) {
    max-width: 136px!important;
  }
}

//color placeholder

::-webkit-input-placeholder {color: #cc6600;}
::-moz-placeholder          {color: #cc6600;}
:-moz-placeholder           {color: #cc6600;}
:-ms-input-placeholder      {color: #cc6600;}


select {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  appearance: none!important;
  background-image: url('../../images/arrow.png');
  background-position: right 8px center;
  background-repeat: no-repeat;
  border-radius: 4px;
}



//.contact-information-block   form

.contact-information-block {

  form {

    input[type='email'],
    input[type='tel'],
    input[type='url'],
    input[type='password'],
    textarea,
    select {
      max-width: 388px;
      padding-top: 5px;
      padding-bottom: 4px;
      color: #999999;
      font-size: 1.4rem;
      font-weight: 300;
      border-radius: 3px;
      margin-bottom: 8px;
    }

    input[type='text'] {
      max-width: 388px;
      color: #999999;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
    }

    input[type='radio'] {
      width: 18px;
      height: 18px;
    }

    input[type='radio']:focus {
      ouline: none;
    }
  }
}




//input type='radio'

input[type='radio'] {
  margin-right: 44px;
  display: none;
}

input[type="radio"] + label::after  {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 8px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background-image: url("../../images/radio-bg.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked + label::after {
  background-position: 3px 3px;
}


//IE
select::-ms-expand {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .contact-information-block {
    form {
      select {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      input[type='radio']:focus {
        outline: none;
      }

      input[type='text'] {
        color: #999999;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
