.page-form {
  margin-top: 5rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #b0b0b0;
}

.page-form__header {
  padding-top: 5rem;
  text-align: center;
  border-bottom: 1px solid #b0b0b0;

  h2 {
    padding-bottom: 44px;
    color: #3a3839;
    font-family: $font-family-AvenirLT-900;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 19px;
  }

  p {
    width: 43%;
    padding-bottom: 4.6rem;
    line-height: 30px;
    margin: 0 auto;
  }
}


/*------------------------.contact-information-block-----------------------*/


.contact-information-block__header {
  text-align: center;
  padding-top: 28px;

  h3 {
    color: #3a3839;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.8rem;
    line-height: 19px;
  }

  p {
    max-width: 342px;
    margin: 0 auto;
    padding-top: 22px;
    line-height: 18px;
  }
}


.contact-information-block {
  text-align: right;

  form {
  max-width: 849px;
  padding-top: 30px;
  overflow: hidden;

    label, span {
      font-size: 14px;
      display: inline-block;
      padding-bottom: 5px;
      padding-top: 5px;
      margin-right: 12px;
    }

    ::-webkit-input-placeholder {color: #999999; font-size: 14px;}
    ::-moz-placeholder          {color: #999999; font-size: 14px;}
    :-moz-placeholder           {color: #999999; font-size: 14px;}
    :-ms-input-placeholder      {color: #999999; font-size: 14px;}
  }

  p {
    font-size: 16px;
  }
}

.form-border {
  width: 100%;
  height: 1px;
  padding: 0!important;
  position: absolute;
  display: block!important;
  border-top: 1px solid #cdcdcd;
}

/*--------------------fields form---------------------------*/

.type-form-field {

  select {
    margin-bottom: 13px!important;
  }
}

.first-name-field {
  position: relative;

  label {
    margin-right: 13px!important;
    padding-bottom: 0;
    position: absolute;
    left: 250px;
    top: 8px;
    line-height: 15px;
  }
}

.form-sex-field {
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: 309px;

  div {
    display: flex;
    align-items: center;
    width: 388px;
    float: right;
  }

  span {
    margin-right: 15px!important;
  }

  input[type='radio'] {
    margin-right: 14px;
  }

  input[type="radio"] + label::after  {
    position: absolute;
    top: 10px;
    margin-left: 7px;
  }

  label {
    position: relative;
    margin-right: 72px!important;
  }

  label:nth-last-child(2) {
    margin-left: 32px;
  }
}


.email-address-field {
  input[type='text'] {
    margin-bottom: 5px;
  }
}

.date-birth-field {
  overflow: hidden;

  span:nth-child(3) {
    margin-left: 17px;
    margin-right: 17px;
  }

  span:nth-child(5) {
    margin-left: 17px;
    margin-right: 17px;
  }

  p {
    width: 388px;
    padding-bottom: 10px;
    text-align: left;
    float: right;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
  }

  select {
    max-width: 98px!important;
  }

  label {
    position: relative;
  }
}


.time-born-field {
  padding-bottom: 23px;

  span {
    margin-right: 17px!important;
  }

  p {
    padding-top: 22px;
    padding-bottom: 1px;
    font-size: 14px;
    width: 388px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;

    span {
      padding: 0;
      margin-right: 0;
    }
  }

  label {
    margin-right: 70px!important;
    position: relative;
  }

  .time-born__content {
    width: 388px;
    float: right;
    display: flex;
    align-items: center;
  }

  input[type="radio"] + label::after  {
    position: absolute;
    top: 10px;
    margin-left: 4px;
  }
}

.date-birth-field-bot {
  padding-bottom: 17px;
}

.ordering-field {
  padding-top: 26px;
  padding-bottom: 23px;

  p {
    padding-right: 10px;
    padding-bottom: 11px;
    width: 388px;
    text-align: left;
    float: right;
    line-height: 19px;
  }

  div {
    clear: both;
  }
}

.topic-field {
  clear: both;
  padding-top: 30px;
  padding-bottom: 17px;

  p {
    padding-right: 16px;
    padding-bottom: 11px;
    width: 388px;
    text-align: left;
    float: right;
    line-height: 19px;
  }

  div {
    clear: both;
  }
}

.choose-personal {
  clear: both;
  padding-top: 30px;

  p {
    padding-right: 16px;
    padding-bottom: 11px;
    width: 388px;
    text-align: left;
    float: right;
    line-height: 19px;
  }

  span {
    clear: both;
    display: block!important;

  }
}
