/*---------------------slick-slider (slider-top)--------------------------*/

.fade {
  opacity: 1;
  outline: none;
}

.slick-slide {
   outline: none;
}

.slick-dots {
  bottom: -40px;

   li {
    cursor: auto;
    width: 14px;
    height: 8px;
    margin-right: 14px;
  }
}


.slider-top {

  div {

    @include max-w($screen-md) {
      height: 344px;
    }

    @include max-w($screen-sm) {
      height: 224px;
    }

    @include max-w($screen-xs) {
      height: 272px;
    }
  }

  div:nth-child(1) {
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: 50% 100%;

    @include max-w($screen-xs) {
      background-image: url(../images/slider-2.jpg);
    }
  }

  div:nth-child(2) {
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: 50% 100%;

    @include max-w($screen-xs) {
      background-image: url(../images/slider-2.jpg);
    }
  }

  div:nth-child(3){
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: 50% 100%;

    @include max-w($screen-xs) {
      background-image: url(../images/slider-2.jpg);
    }
  }

  h2 {
    max-width: 478px;
    padding-top: 71px;
    padding-left: 30px;
    color: #666666;
    font-family: $font-family-AvenirLT-900;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3.7rem;

    @include max-w($screen-md) {
      font-size: 2rem;
      padding-top: 41px;
      padding-left: 35px;
    }

    @include max-w($screen-sm) {
      max-width: 322px;
      padding-top: 14px;
      line-height: 2.4rem;
      font-size: 1.6rem;
    }

    @include max-w(375px) {
      max-width: 286px;
      padding-left: 15px;
    }
  }

  span {
    display: block;
    padding-left: 30px;
    line-height: 2.5rem;

    @include max-w($screen-md) {
      font-size: 2rem;
      line-height: 3.1rem;
    }

    @include max-w($screen-sm) {
      font-size: 1.6rem;
      line-height: 2.1rem;
    }

    @include max-w($screen-xs) {
      padding-left: 15px;
    }
  }

  span:nth-child(2) {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #000000;
    font-family: $font-family-AvenirLT-900;
    font-size: 2.4rem;

    @include max-w($screen-md) {
      padding-top: 18px;
      padding-bottom: 12px;
    }

    @include max-w(375px) {
      font-size: 1.6rem;
      padding-left: 15px;
    }

    @include max-w(320px) {
      padding-bottom: 20px;
    }
  }

  span:nth-child(3),
  span:nth-child(4)  {
    color: #000000;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.8rem;

    @include max-w(375px) {
      font-size: 1.6rem;
      padding-left: 15px;
    }
  }

  span:nth-child(5) {
    padding-bottom: 106px;
    color: #000000;
    font-size: 1.8rem;

    @include max-w(375px) {
      font-size: 1.6rem;
      padding-left: 15px;
    }
  }

  .slick-arrow {
    display: none!important;
  }
}

.slick-dotted.slick-slider {

  @include max-w($screen-md) {
    margin-bottom: 0;
  }
}


.slick-dots {

   li {
    button:before {
      border: 2px solid #fff;
      opacity: 1;
      border-radius: 14px;
      font-size: 56px;
      width: 16px;
      height: 16px;
      content: ''!important;
      text-align: center;
      -webkit-font-smoothing: antialiased;
    }
  }
}


.slick-dots {

  .slick-active {
    height: 16px!important;
    background-color: #fff;
    border-radius: 14px;
  }
}



/*---------------------slick-slider (slider-check)--------------------------*/



.slider-check {

  @include max-w(768px) {
    order: 1;
  }

  .slick-dots {
    display: none!important;
  }

  .slick-next {
    right: 20px;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center right 0px;

    @include max-w(480px) {
      right: 5px;
    }
  }

  .slick-next:hover {
    background-image: url(../images/arrow-right-hover.png);
    background-repeat: no-repeat;
    background-position: center right 0px;
  }

  .slick-next, .slick-prev {
    height: 28px;
    width: 28px;
    margin: 0;
    transition: 0.5s;
  }

  .slick-prev {
    left: 20px;
    z-index: 2;
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center right 0px;

    @include max-w(480px) {
      left: 5px;
    }
  }

  .slick-prev:hover {
    left: 20px;
    z-index: 2;
    background-image: url(../images/arrow-left-hover.png);
    background-repeat: no-repeat;
    background-position: center right 0px;

    @include max-w(480px) {
      left: 5px;
    }
  }

  .slick-next:before {
    content: ''!important;
    opacity: 1;
  }

  .slick-prev:before {
    content: ''!important;
  }
}



/*----------------------------.content-block-----------------------------*/



.content-block {
  float: left;
  max-width: 831px;
  border-radius: 10px;
  border-top: 1px solid #cdcdcd;

  @include max-w(1280px) {
    max-width: 815px;
  }

  @include max-w($screen-xl) {
    max-width: 570px;
  }

  @include max-w($screen-md) {
    max-width: 100%;
    float: none;
    margin-top: 30px;
    max-width: 100%;
    order: 2;
  }

  .content-block__article:nth-child(5) {
    border-bottom: 1px solid #cdcdcd;
    border-radius:  0 0 10px 10px;

    @include max-w($screen-md) {
      border-radius: 0;
    }
  }
}

.content-block:nth-child(1) {

  @include max-w($screen-md) {
    max-width: 100%;
  }
}




/*-------------------content-block__header--------------------*/




.content-block__header {
  padding-top: 2rem;
  padding-bottom: 3.8rem;
  background-color: #fff;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-radius: 9px 9px 0 0;

  @include max-w($screen-sm) {
    padding-top: 1rem;
    padding-bottom: 2.8rem;
  }

  @include max-w($screen-xs) {
    padding-top: 19px;
    padding-bottom: 2rem;
  }

  h2 {
    padding-left: 3rem;
    padding-right: 4.9rem;
    color: #3a3839;
    font-family: $font-family-AvenirLT-900;
    line-height: 4.8rem;
    text-transform: uppercase;

    @include max-w($screen-xl) {
      padding-left: 1.5rem;
    }

    @include max-w($screen-md) {
      padding-left: 3rem;
    }

    @include max-w($screen-sm) {
      padding-left: 12px;
      font-size: 2rem;
    }

    @include max-w($screen-xs) {
      font-size: 1.6rem;
      line-height: 1.8rem;
      padding-bottom: 7px;
    }
  }

  p {
    padding-left: 3rem;
    padding-right: 4.9rem;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #4c4b4b;
    font-weight: 300;

    @include max-w($screen-md) {
      padding-left: 3rem;
    }

    @include max-w($screen-sm) {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 5px;
    }

    @include max-w($screen-sm) {
      line-height: 3rem;
    }

    @include max-w($screen-xs) {
      padding-top: 0;
      font-size: 14px;
      line-height: 1.8rem;
    }
  }

  span {
    color: #666666;
    font-weight: 900;
  }
}




/*-------------------.content-block__article--------------------*/



.content-block__article {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  background-color: #fff;
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  overflow: hidden;
  line-height: 2.4rem;

  @include max-w($screen-sm) {
    padding-top: 2rem;
    padding-bottom: 2.4rem;
  }

  @include max-w($screen-xs) {
    padding-top: 1rem;
  }

  @include max-w($screen-md) {
    max-width: 100%;
    padding-right: 25px;
  }

  @include max-w($screen-sm) {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 20px;
  }

  @include max-w($screen-sm) {
   line-height: 2rem;
  }

  &:nth-last-child(1) {
    border-bottom: 1px solid #cdcdcd;
  }

  h3 {
    padding-left: 3rem;
    float: left;
    color: #666666;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.8rem;
    text-transform: uppercase;

    @include max-w($screen-xl) {
      padding-left: 1.5rem;
    }

    @include max-w($screen-md) {
      padding-left: 3rem;
    }

    @include max-w($screen-sm) {
       padding-left: 0;
       font-size: 1.8rem;
    }

    @include max-w($screen-xs) {
      font-size: 1.4rem;
    }
  }

  .content-block__content {
    width: 74.3%;
    float: right;
    padding-right: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3rem;
  }
}



.show-title {
  display: none;

  @include max-w($screen-sm) {
    display: block;
    width: 100%;
  }
}


.hide-title {

  @include max-w($screen-sm) {
    display: none;
  }
}


.content-block {

 .content-block__article {

    h3 {

      @include max-w(320px) {
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding-bottom: 7px;
      }
    }

  .content-block__content {

      @include max-w(320px) {
        padding-top: 0!important;
        padding-right: 0;
      }

      @include max-w(480px) {
        padding-top: 6px;
        max-width: 100%!important;
      }

      p {

        @include max-w(320px) {
          font-size: 1.4rem;
          line-height: 1.8rem;
          padding-bottom: 0;
        }
      }
    }
  }
}




/*--------------------.content-block___check----------------------*/



.content-block__check {
  background-image: url(../images/bg-check.jpg);
  background-size: cover;
  background-position: 50% 100%;
  padding-top: 7.7%;
  padding-bottom: 5.2%;
  border-radius: 10px;
  border-right: none;
  text-align: center;

  @include max-w($screen-md) {
    border-radius: 0 0 10px 10px;
    padding-top: 155px;
    padding-bottom: 103px;
  }

  @include max-w($screen-xs) {
    padding-top: 32px;
    padding-bottom: 30px;
  }

  @include max-w($screen-sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include max-w(375px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .slick-list {
    border-radius: 10px;

    @include max-w($screen-xs) {
      border-radius: 0 0 10px 10px;
    }
  }

  span {
    display: block;
    color: #ffffff;
    font-family: $font-family-AvenirLT-900;
    line-height: 3.6rem;
    font-style: italic;
  }

  span:nth-child(1) {
    font-size: 1.8rem;
    line-height: 3.6rem;
    padding-bottom: 20px;

    @include max-w($screen-xl) {
      width: 40%;
      margin: 0 auto;
    }

    @include max-w($screen-md) {
      width: 74%;
    }

    @include max-w(375px) {
      width: 198px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding-bottom: 17px;
    }

    @include max-w($screen-sm) {
      width: 53%;
    }

    @include max-w($screen-xs) {
      width: 75%;
    }
  }

  span:nth-child(2) {
    font-size: 1.6rem;
    padding-bottom: 12px;

    @include max-w($screen-xl) {
      width: 65%;
      margin: 0 auto;
    }

    @include max-w($screen-md) {
      width: 74%;
    }

    @include max-w($screen-sm) {
      padding-top: 10px;
    }

    @include max-w($screen-xs) {
      width: 100%;
      padding-top: 69px;
    }

     @include max-w(375px) {
      width: 227px;
      padding-top: 0;
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.5s;
  }

  a:hover {
    color: #0acf66;
  }

  .my-btn {
    width:129px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
  }

  .my-btn:hover {
    color: #ffffff;
  }
}



/*---------------------.readers-block----------------------*/



.readers-block {
  max-width: 400px;
  margin-left: auto;

  @include max-w($screen-md) {
    padding-top: 30px;
    margin: 0 auto;
    order: 1;
  }

  @include max-w($screen-sm) {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  &__featured {
    margin-bottom: 20px;
  }

  &__bot {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.readers-header {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  background-color: #ffaa31;
  border-radius: 10px 10px 0 0;

  span {
    color: #ffffff;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.6rem;
  }
}

.readers-wrapper {
  background-color: #fff;
  border-right: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  border-radius: 0 0 10px 10px;
}

.readers-content {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 13px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;

  &__img {
    float: left;

    img {
      display: block;
      margin-bottom: 9px;

      @include max-w(360px) {
        margin-bottom: 28px;
      }

      @include max-w(320px) {
        margin-bottom: 9px;
      }
    }
  }

  &__text-top {
    max-width: 205px;
    overflow: hidden;
    padding-left: 20px;

    @include max-w($screen-xs) {
      padding-left: 16px;
    }

    span {
      display: block;
      font-size: 14px;
    }

    span:nth-child(1) {
      padding-bottom: 5px;
      color: #000000;
      font-family: $font-family-AvenirLT-900;
      font-size: 1.6rem;
      line-height: 1.5rem;
    }

    span:nth-child(2) {
      padding-bottom: 14px;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  &__text-bot {
    overflow: hidden;
    padding-left: 20px;

    @include max-w($screen-xs) {
      width: 100%;
      padding-left: 0;
      padding-top: 12px;
    }

    a {
      display: block;
      color: #4c4b4b;
      font-size: 1.4rem;
      line-height: 2rem;
      transition: 0.5s;
    }

    a:hover {
      color: #ff6600;
    }
  }
}




/*-----------------------.readers-block__online---------------------*/



.readers-block__online {

  .readers-content {
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .readers-content:nth-last-child(2) {
    border-bottom: none;
  }
}




/*----------------------.blog-block------------------*/




.blog-blocks {
  max-width: 400px;
  margin-left: auto;
  margin-top: 20px;

  @include max-w($screen-md) {
    max-width:100%;
    margin-left: 0;
    margin-top: 20px;
    overflow: hidden;
    order: 3;
  }

  .articles-blog {
    margin-bottom: 20px;
    background-color: #fff;

    @include max-w($screen-sm) {
      max-width: 100%;
      float: none;
    }
  }


  .articles-blog__picture {

    img {
      @include max-w($screen-sm) {
        width: 100%;
      }
    }
  }

  .articles-blog:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.articles-wrapper {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}




/*------------------------.articles-blog----------------------*/



.articles-blog:nth-child(2),
.articles-blog:nth-child(4){

    @include max-w(768px) {
      float: right;
    }

    @include max-w(480px) {
      float: none;
    }
 }


.articles-blog {
  border-radius: 10px;
  border: 1px solid #cccccc;

  @include max-w($screen-md) {
    max-width: 49%;
    float: left;
  }

  &__header {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;

    span {
      color: #3a3839;
      font-family: $font-family-AvenirLT-900;
      font-size: 1.6rem;

      @include max-w(320px) {
        font-size: 1.4rem;
      }
    }
  }

  &__nav {

    ul {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 14px;
      padding-bottom: 14px;
      border-top: 1px solid #cccccc;

      li {
        line-height: 24px;

        a {
          font-size: 1.6rem;
          font-weight: 300;
          color: #4c4b4b;

          @include max-w(320px) {
            font-size: 1.4rem;
          }
        }

        a:hover {
          color: #ff6600;
        }
      }
    }
  }

  &__picture {
    border-radius: 0 0 10px 10px;

    img {
      border-radius: 0 0 10px 10px;
      width: 100%;
    }
  }

  &__content {
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: 1.6rem;
    line-height: 3rem;

    @include max-w(320px) {
      padding-left: 12px;
      padding-right: 10px;
    }

    p {

      @include max-w(320px) {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
}



/*------------------------------.wrapper-my-blogs------------------------*/



.wrapper-my-blogs {

  @include max-w(768px) {
    display: flex;
    flex-direction: column;
  }

}

.my-blogs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  @include max-w($screen-xl) {
    display: block;
    overflow: hidden;
  }

  @include max-w($screen-md) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    order: 2;
  }

  @include max-w($screen-sm) {
    display: block;
  }

  @include max-w(375px) {
    margin-bottom: 0;
  }

  .articles-blog {
    max-width: 399px;

    @include max-w($screen-xl) {
      max-width: 100%;
      float: none;
    }

    @include max-w($screen-md) {
      max-width: 49%;
    }
  }

  .articles-blog:nth-child(1) {

    @include max-w($screen-xl) {
      margin-bottom: 2rem;
    }

    @include max-w($screen-sm) {
      max-width: 100%;
      margin-bottom: 20px;
    }

    @include max-w($screen-md) {
      margin-bottom: 0;
    }
  }

  .articles-blog:nth-child(2) {

    @include max-w($screen-sm) {
      margin-top: 20px;
      max-width: 100%;
      float: none;
    }
  }

  .articles-blog__picture {

    img {

      @include max-w($screen-xl) {
        width: 100%;
        border-bottom: 1px solid #cccccc;
      }
    }
  }
}





//IE

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .content-block___check {
    padding-top: 19rem;
    padding-bottom: 14rem;
  }
}


