/*---------------------slick-slider (slider-top)--------------------------*/

.slick-dots {
    li {
      button:before{
        display: none;
      }
    }
  }

.slick-dots {
  bottom: -40px;

   li {
    button {
      border: 2px solid #fff;
      border-radius: 7px;
      width: 14px;
      height: 14px;
      padding: 5px;
    }
  }
}

.slider-btn-active {
  background-color: #fff!important;
  transition: 0.5s;
}

.slider-top {

  div {

    @include max-w($screen-md) {
      height: 344px;
    }

    @include max-w($screen-sm) {
      height: 224px;
    }

    @include max-w($screen-xs) {
      height: 272px;
    }
  }

  div:nth-child(1){
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: 50% 100%;

    @include max-w($screen-xs) {
      background-image: url(../images/slider-2.jpg);
    }
  }

  div:nth-child(2){
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: 50% 100%;

    @include max-w($screen-xs) {
      background-image: url(../images/slider-2.jpg);
    }
  }

  div:nth-child(3){
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: 50% 100%;

    @include max-w($screen-xs) {
      background-image: url(../images/slider-2.jpg);
    }
  }

  h2 {
    max-width: 478px;
    padding-top: 71px;
    padding-left: 30px;
    color: #666666;
    font-family: $font-family-AvenirLT-900;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3.7rem;

    @include max-w($screen-md) {
      font-size: 2rem;
      padding-top: 41px;
      padding-left: 35px;
    }

    @include max-w($screen-sm) {
      max-width: 322px;
      padding-top: 14px;
      line-height: 2.4rem;
      font-size: 1.6rem;
    }

    @include max-w($screen-xs) {
      max-width: 286px;
      padding-left: 15px;
    }
  }

  span {
    display: block;
    padding-left: 30px;
    line-height: 2.5rem;

    @include max-w($screen-md) {
      font-size: 2rem!important;
      line-height: 3.1rem;
    }

    @include max-w($screen-sm) {
      font-size: 1.6rem!important;
      line-height: 2.1rem;
    }

    @include max-w($screen-xs) {
      padding-left: 15px;
    }
  }

  span:nth-child(2) {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #000000;
    font-family: $font-family-AvenirLT-900;
    font-size: 2.4rem;

     @include max-w($screen-md) {
      padding-top: 18px;
      padding-bottom: 12px;
    }
  }

  span:nth-child(3),
  span:nth-child(4)  {
    color: #000000;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.8rem;
  }

  span:nth-child(5) {
    padding-bottom: 106px;
    color: #000000;
    font-size: 1.8rem;
  }

  .slick-arrow {
    display: none!important;
  }
}

.slick-dotted.slick-slider {

  @include max-w($screen-md) {
    margin-bottom: 0;
  }
}

/*---------------------slick-slider (slider-check)--------------------------*/

.slider-check {

  .slick-dots {
    display: none!important;
  }

  .slick-next {
    right: 25px;

    @include max-w($screen-xs) {
      right: 5px;
   }
  }

  .slick-next, .slick-prev {
    border: 3px solid #fff;
    border-radius: 14px;
    font-weight: 900;
    height: 28px;
    width: 28px;
    transition: 0.5s;
  }

  .slick-prev {
    left: 25px;
    z-index: 2;

    @include max-w($screen-xs) {
      left: 5px;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: #fff!important;
    padding-top: 4px;
    padding-left: 3px;
    opacity: 1;

    @include max-w(1680px) {
        padding-top: 6px;
    }
 }

  .slick-next:before {
    content: '>'!important;
    opacity: 1;
  }

  .slick-prev:before {
    content: '<'!important;
    padding-left: 0;
    transition: 0.5s;
  }

  .slick-prev:hover, .slick-next:hover {
    border: 3px solid #ffaa31!important;
  }

  .slick-prev:hover:before, .slick-next:hover:before {
     color: #ffaa31!important;
  }
}

/*----------------------------.content-block-----------------------------*/

.content-block {
  float: left;
  max-width: 831px;
  border-radius: 9px 9px 9px 9px;
  border-top: 1px solid #cdcdcd;

  @include max-w($screen-xl) {
    max-width: 570px;
  }

  @include max-w($screen-md) {
    float: none;
    margin-top: 30px;
    max-width: 100%!important;
    order: 2;
  }
}

/*-------------------content-block__header--------------------*/

.content-block__header {
  padding-top: 2rem;
  padding-bottom: 3.8rem;
  background-color: #fff;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-radius: 9px 9px 0 0;

  @include max-w($screen-sm) {
    padding-top: 1rem;
    padding-bottom: 2.8rem;
  }

  @include max-w($screen-xs) {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  h2 {
    padding-left: 3rem;
    padding-right: 4.9rem;
    color: #3a3839;
    font-family: $font-family-AvenirLT-900;
    line-height: 4.8rem;
    text-transform: uppercase;

    @include max-w($screen-xl) {
      padding-left: 1.5rem;
    }

    @include max-w($screen-md) {
      padding-left: 3rem!important;
    }

    @include max-w($screen-sm) {
       padding-left: 2rem!important;
    }

    @include max-w($screen-xs) {
      font-size: 1.6rem;
    }
  }

  p {
    padding-left: 3rem;
    padding-right: 4.9rem;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #999999;
    font-weight: 300;

    @include max-w($screen-md) {
      padding-left: 3rem!important;
    }

    @include max-w($screen-sm) {
      padding-left: 12px!important;
      padding-right: 12px!important;
      padding-top: 5px;
    }

    @include max-w($screen-sm) {
      line-height: 2rem;
    }

    @include max-w($screen-xs) {
      padding-top: 0;
    }
  }

  span {
    color: #666666;
    font-weight: 900;
  }
}

/*-------------------.content-block__article--------------------*/

.content-block__article {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  background-color: #fff;
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  overflow: hidden;
  line-height: 2.4rem;

  @include max-w($screen-sm) {
    padding-top: 2rem;
    padding-bottom: 2.4rem;
  }

  @include max-w($screen-xs) {
    padding-top: 1rem;
  }

  &:nth-last-child(1) {
    border-bottom: 1px solid #cdcdcd;
  }

  h3 {
    padding-left: 3rem;
    float: left;
    color: #666666;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.8rem;
    text-transform: uppercase;

    @include max-w($screen-xl) {
      padding-left: 1.5rem;
    }

    @include max-w($screen-md) {
      padding-left: 3rem!important;
    }

    @include max-w($screen-sm) {
       padding-left: 12px!important;
    }

    @include max-w($screen-sm) {
      font-size: 1.4rem;
    }

  }

  p {
    max-width: 74.3%;
    display: block;
    float: right;
    padding-right: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3rem;
    color: #999999;

    @include max-w($screen-md) {
      max-width: 70.5%;
      padding-right: 25px;
    }

    @include max-w($screen-sm) {
      max-width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 15px;
   }

   @include max-w($screen-sm) {
    line-height: 2rem;
   }
}

  span {
    color: #666666;
    font-weight: 900;
  }
}

.content-block__article:nth-child(5) {
  border-bottom: 1px solid #cdcdcd;
  border-radius:  0 0 10px 10px;
}


.show-title {
  display: none;

  @include max-w($screen-sm) {
    display: block;
    width: 100%;
  }
}

.hide-title {

  @include max-w($screen-sm) {
     display: none;
  }
}

/*--------------------.content-block___check---------------*/

.content-block___check {
  background-image: url(../images/bg-check.jpg);
  background-size: cover;
  background-position: 50% 100%;
  padding-top: 7.7%;
  padding-bottom: 5.2%;
  border-radius: 10px;
  border-right: none;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;

  span {
    display: block;
    color: #ffffff;
    font-family: $font-family-AvenirLT-900;
    line-height: 3.6rem;
    font-style: italic;
  }

  span:nth-child(1) {
    font-size: 1.8rem;
    line-height: 3.6rem;
    padding-bottom: 20px;

    @include max-w($screen-xl) {
      width: 40%;
      margin: 0 auto;
    }

    @include max-w($screen-md) {
      width: 74%!important;
    }

    @include max-w($screen-sm) {
      width: 53%!important;
    }

    @include max-w($screen-xs) {
      width: 80%!important;
   }
  }

  span:nth-child(2) {
    font-size: 1.6rem;
    padding-bottom: 12px;

    @include max-w($screen-xl) {
      width: 65%;
      margin: 0 auto;
    }

    @include max-w($screen-md) {
      width: 74%!important;
    }

    @include max-w($screen-sm) {
      padding-top: 10px;
    }

    @include max-w($screen-xs) {
      width: 100%!important;
      padding-top: 69px;
   }
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.5s;
  }

  a:hover {
    color: #0acf66;
  }
}

/*---------------------.readers-block----------------------*/

.readers-block {
  max-width: 400px;
  margin-left: auto;

  @include max-w($screen-md) {
    margin: 0 auto;
    order: 1;
  }

  @include max-w($screen-sm) {
     max-width: 100%;
     margin-right: 0;
     margin-left: 0;
  }

  &__featured {
    margin-bottom: 20px;
  }

  &__bot {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.readers-header {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  background-color: #ffaa31;
  border-radius: 10px 10px 0 0;

  span {
    color: #ffffff;
    font-family: $font-family-AvenirLT-900;
    font-size: 1.6rem;
  }
}

.readers-wrapper {
  background-color: #fff;
  border-right: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  border-radius: 0 0 10px 10px;
}

.readers-content {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 14px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;

  &__img {
    float: left;

    img {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__text-top {
    max-width: 205px;
    overflow: hidden;
    padding-left: 20px;

    @include max-w($screen-xs) {
      padding-left: 16px;
    }

    span {
      display: block;
      font-size: 14px;
    }

    span:nth-child(1) {
      padding-bottom: 5px;
      color: #000000;
      font-family: $font-family-AvenirLT-900;
      font-size: 1.6rem;
      line-height: 1.5rem;
    }

    span:nth-child(2) {
      padding-bottom: 14px;
      color: #999999;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

   &__text-bot {
    overflow: hidden;
    padding-left: 20px;

    @include max-w($screen-xs) {
      width: 100%;
      padding-left: 0;
      padding-top: 12px;
    }

     span {
      display: block;
      color: #ff6600;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}

/*----------------.readers-block__online------------------*/

.readers-block__online {

  .readers-content {
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .readers-content:nth-last-child(2) {
    border-bottom: none;
  }
}

/*----------------------.blog-block------------------*/

.blog-blocks {
  max-width: 400px;
  margin-left: auto;
  margin-top: 20px;

   @include max-w($screen-md) {
    max-width:100%;
    margin-left: 0;
    margin-top: 30px;
    overflow: hidden;
    order: 3;
  }

  .articles-blog {
    margin-bottom: 20px;

    @include max-w($screen-sm) {
      max-width: 100%;
      float: none;
    }
  }


  .articles-blog__picture {

    img {
      @include max-w($screen-sm) {
        width: 100%;
      }
    }
  }

  .articles-blog:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.articles-wrapper {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

/*------------------------.articles-blog----------------------*/

.articles-blog:nth-child(2),
.articles-blog:nth-child(4){
    @include max-w(768px) {
      float: right;
    }
 }

.articles-blog {
  border-radius: 10px;
  border: 1px solid #cccccc;

  @include max-w($screen-md) {
    max-width: 345px;
    float: left;
  }

  &__header {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;

    span {
      color: #3a3839;
      font-family: $font-family-AvenirLT-900;
      font-size: 1.6rem;
    }
  }

  &__nav {

    ul {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 14px;
      padding-bottom: 14px;
      border-top: 1px solid #cccccc;

      li {
        line-height: 24px;

        a {
          font-size: 1.6rem;
          font-weight: 300;
          color: #999999;
        }

        a:hover {
          color: #ff6600;
        }
      }
    }
  }

  &__picture {
    border-radius: 0 0 10px 10px;

    img {
      border-radius: 0 0 10px 10px;
    }
  }

  &__content {
    padding-left: 20px;
    padding-bottom: 15px;
    color: #999999;
    font-size: 1.6rem;
    line-height: 3rem;
  }
}

/*------------.my-blogs-----------*/

.my-blogs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  @include max-w($screen-xl) {
    display: block;
    overflow: hidden;
  }

  @include max-w($screen-md) {
    display: flex!important;
    justify-content: space-between;
  }

  @include max-w($screen-sm) {
   display: block!important;
  }

  .articles-blog {
    max-width: 399px;

    @include max-w($screen-xl) {
      max-width: 100%;
      float: none;
    }

    @include max-w($screen-md) {
      max-width: 358px!important;
    }

    @include max-w(750px) {
      max-width: 345px!important;
    }
  }

  .articles-blog:nth-child(1) {

    @include max-w($screen-xl) {
      margin-bottom: 2rem;
    }

    @include max-w($screen-md) {
      margin-bottom: 0!important;
    }
  }

  .articles-blog:nth-child(1),
  .articles-blog:nth-child(2) {

    @include max-w($screen-sm) {
      max-width: 450px!important;
    }
  }

  .articles-blog__picture {

    img {

      @include max-w($screen-xl) {
        width: 100%;
      }
    }
  }
}


//IE

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .content-block___check {
    padding-top: 19rem;
    padding-bottom: 14rem;
  }
}



