.page-80-20 {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include max-w(1280px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include max-w(768px) {
    display: block;
  }
}

.content-block-80 {
  width: 79%;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 9px;

  @include max-w(768px) {
    width: 100%;
    margin-bottom: 20px;
  }
}


.content-block-20 {
  width: 19%;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 9px;

  @include max-w(768px) {
    width: 100%;
  }
}

.my-container.page-80-20:after {
  display: none;
}
