.profile-content {
  padding-top: 50px;
  position: relative;

  @include max-w(1280px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include max-w($screen-xl) {
    display: flex;
    ustify-content: flex-start;
    flex-direction: column;
    padding-top: 4rem;
  }

  @include max-w($screen-md) {
    padding-top: 2rem;
  }

  &__left {
    max-width: 399px;

    @include max-w($screen-xl) {
      order: 3;
      max-width: 100%;
    }
  }

  &__right {
    height: 1890px;
    max-width: 66%;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 5rem;
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid #cdcdcd;

    @include max-w(1440px) {
      max-width: 67%;
    }

    @include max-w(1280px) {
      max-width: 64.5%;
      right: 15px;
    }

    @include max-w($screen-xl) {
      max-width: 100%;
      order: 2;
      right: 0;
      position: relative;
      top: 40px;
    }

    @include max-w(1024px) {
     height: auto;
    }

    @include max-w(375px) {
      padding-bottom: 20px;
    }
  }
}



/*-------------------------.testimonials-block-----------------------*/



.testimonials-block {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;

  @include max-w($screen-xl) {
    margin-top: 62px;
  }

  &__element {
    padding-left: 20px;
    padding-right: 32px;

    @include max-w(375px) {
      padding-left: 12px;
      padding-right: 6px;
    }


    h3 {
      padding-top: 11px;
      font-family: $font-family-AvenirLT-900;
      line-height: 3rem;
      color: #3a3839;
      font-size: 1.6rem;
      font-weight: 900;

      @include max-w(375px) {
        height: 28px;
        padding-top: 5px
      }
    }

    p {
      color: #999999;
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic;

      @include max-w(375px) {
        line-height: 1.6rem;
      }
    }

    span {
      display: block;
      padding-top: 5px;
      padding-bottom: 6px;
      color: #999999;
      font-size: 14px;
      font-weight: 300;
      border-bottom: 1px solid #cdcdcd;

      @include max-w(375px) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__element:nth-child(3) {

    span {

      @include max-w(768px) {
        border-bottom: none;
      }
    }
  }
}


.elements-wrapper {
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 8.5rem;
  border-radius: 0 0 10px 10px;

  @include max-w(768px) {
    padding-bottom: 0;
  }
}





/*-------------------.reader-status-blok---------------------------*/




.reader-status-blok {
  max-width: 399px;

  @include max-w($screen-xl) {
    order: 1;
    margin: 0 auto;
  }

  .readers-wrapper {

    .readers-content {
      padding-right: 20px;
      padding-bottom: 15px;

      @include max-w(375px) {
        padding-top: 18px;
        padding-right: 11px;
        padding-left: 13px;
        padding-bottom: 12px;
      }

      .readers-content__img {
        width: 150px;
        height: 150px;

        @include max-w(375px) {
          width: 100px;
          height: 100px;
        }

        img {
          width: 150px;
          height: 150px;
          margin-bottom: 0;

          @include max-w(375px) {
            width: 100px;
            height: 100px;
          }
        }
      }

      .readers-content__text-top {
        max-width: 100%;
        padding-left: 9px;

        span {
          font-size: 1.4rem;
          line-height: 1.8rem;
          color: #999999;
        }

        span:nth-child(2) {
          padding-top: 17px;
          padding-bottom: 2px;
          color: #383537;
          font-family: $font-family-AvenirLT-900;

          @include max-w(375px) {
            padding-top: 5px;
          }
        }

        span:nth-child(3) {
          font-weight: 300;
        }

        span:nth-child(4) {
          padding-top: 17px;
          font-weight: 300;
          text-transform: uppercase;

          @include max-w(375px) {
            padding-top: 0;
          }
        }
      }
    }
  }
}



/*------------------------section .more-info------------------------*/




.more-info {

   &__header {
    font-family: $font-family-AvenirLT-900;
    padding-left: 30px;
    padding-top: 23px;
    padding-bottom: 55px;
    border-radius: 10px 10px 0 0;

    @include max-w($screen-md) {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    @include max-w($screen-sm) {
      padding-right: 12px;
      padding-left: 12px;
    }

    @include max-w(375px) {
      padding-top: 25px;
      padding-bottom: 20px;
    }

    h2 {
      padding-bottom: 24px;
      color: #3a3839;
      font-size: 3rem;
      line-height: 4.8rem;
      text-transform: uppercase;

      @include max-w($screen-md) {
        padding-bottom: 2px;
      }

      @include max-w($screen-sm) {
        font-size: 2.6rem;
      }

      @include max-w(375px) {
        font-size: 1.6rem;
        line-height: 0rem;
        padding-bottom: 21px;
      }
    }

    span {
      color: #666666;
      font-size: 1.6rem;
      line-height: 3rem;

      @include max-w(375px) {
        font-size: 1.4rem;
        display: block;
        line-height: 1.8rem;
      }
    }
  }

  .content-block__article {
    padding-top: 3.87rem;
    padding-bottom: 3.7rem;
    border-right: none;
    border-left: none;

    @include max-w(1280px) {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

    @include max-w($screen-md) {
      max-width: 100%;
      padding-right: 10px;
      padding-top: 4.4rem;
      padding-bottom: 4.4rem;
    }

    @include max-w(375px) {
      padding-top: 19px;
      padding-bottom: 19px;
    }

    h3 {

      @include max-w($screen-xl) {
        padding-left: 30px;
      }

      @include max-w($screen-sm) {
        padding-bottom: 15px;
        padding-left: 0!important;
      }

      @include max-w(375px) {
        padding-bottom: 8px;
        font-size: 1.4rem;
      }
   }

    .content-block__content {

      @include max-w($screen-md) {
        padding-right: 0;
        max-width: 76%;
      }

      @include max-w($screen-sm) {
        max-width: 100%;
        float: none;
      }

      p {

        @include max-w(375px) {
          line-height: 1.7rem;
          font-size: 1.4rem;
        }
      }

      span {

        @include max-w(375px) {
          font-size: 14px;
          line-height: 1.7rem;
        }
      }
    }
  }


  .content-block__article:nth-child(2) {

   .hide-title {
      @include max-w($screen-md) {
        display: none;
      }
    }

    .show-title-2 {
      @include max-w($screen-md) {
        display: block;
      }

      @include max-w($screen-sm) {
        display: none;
      }
    }
  }


  .content-block__article:nth-child(3) {

    p {
      padding-bottom: 21px;

      @include max-w($screen-md) {
        padding-bottom: 1.9rem;
      }

      @include max-w($screen-xs) {
        padding-bottom: 1.3rem;
      }
    }

    p:nth-child(3) {
      padding-bottom: 0;
    }
  }

  .content-block__article:nth-child(4) {

    p {
      max-width: 100%;
      padding-right: 0;
      padding-top: 33px;
      font-style: italic;

      @include max-w($screen-md) {
        padding-top: 3.1rem;
      }

      @include max-w(375px) {
        padding-top:1.6rem;
      }
    }

    span {
      color: #666666;
      font-style: normal;
    }

    span:nth-child(1) {

      @include max-w(375px) {
        display: inline-block;
      }
    }

    a {
      color: #666666;
      display: block;
      width: 250px;
      text-decoration: underline;

      @include max-w(375px) {
        margin-top: -6px;
        display: block;
      }
    }

    a:hover {
      color: #ff6600;
      text-decoration: none;
    }
  }


  .content-block__article:nth-child(5) {

    span:nth-child(1) {
      padding-bottom: 30px;

      @include max-w(375px) {
        padding-bottom: 18px;
      }
    }

    span:nth-child(4) {
      padding-bottom: 29px;

      @include max-w(375px) {
        padding-bottom: 18px;
      }
    }

    p {
      max-width: 64%;

      @include max-w($screen-md) {
        max-width: 72%;
      }

      @include max-w(375px) {
        max-width: 100%;
      }

      span {
        text-transform: capitalize;
      }
    }
  }

   .content-block__article:nth-child(6) {

    span:nth-child(1) {

      @include max-w(375px) {
        display: inline-block;
      }
    }

    a {
      text-decoration: underline;
      color: #999999;
    }

    a:hover {
      color: #ff6600;
      text-decoration: none;
    }
  }
}



/*------------------------.more-info__buttons--------------------------*/


.more-info__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 74.3%;
  margin-left: auto;
  padding-right: 3rem;


  @include max-w(1024px) {
    max-width: 620px;
    padding-right: 0;
    margin: 0 auto;
  }

  @include max-w($screen-sm) {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.show-title-2 {
  display: none;
}
