.page-footer {
	background-color: #3a3839;
  padding-top: 46px;
  padding-bottom: 40px;

  @include max-w($screen-md) {
    padding-bottom: 20px;
    padding-top: 38px;
  }

  @include max-w($screen-sm) {
    padding-bottom: 30px;
  }

  @include max-w($screen-xs) {
    padding-top: 32px;
  }

  .page-container {
    position: relative;
  }

  .my-container {

    @include max-w(1366px) {
      position: relative;
    }

    @include max-w(1280px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}



/*--------------------------.footer-nav--------------------------*/



.footer-nav {
  max-width: 480px;
  overflow: hidden;
  float: left;
  position: absolute;
  top: -9px;

  @include max-w(1336px) {
    max-width: 500px;
    padding-left: 20px;
  }

  @include max-w(1280px) {
    max-width: 520px!important;
    margin-left: 20px;
  }

  @include max-w($screen-xl) {
    padding-left: 0!important;
    margin-left: 0!important;
  }

  @include max-w($screen-sm) {
    float: none;
    position: static!important;
  }

  @include max-w(375px) {
    padding-left: 0!important;
  }

  ul {
    overflow: hidden;

    li {
      float:left;
      display:inline;
      width:33.333%;

      @include max-w($screen-sm) {
        width: 50%;
      }

      a {
        color: #ffffff;
        font-size: 1.4rem;
        line-height: 2.5rem;
        transition: 0.5s;
      }

      a:hover {
        color: #ffa934;
      }
    }

    li:nth-child(even) {

      @include max-w($screen-sm) {
        padding-left: 26%;
      }

      @include max-w(375px) {
        padding-left: 18%;
      }

      @include max-w($screen-xs) {
        padding-left: 12%!important;
      }
    }
  }
}




/*------------------------.footer-icons ------------------------------*/




.footer-icons {
  text-align: right;
  margin-bottom: 13px;

  @include max-w($screen-md) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @include max-w($screen-sm) {
    padding-top: 14px;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: flex-start!important;
  }

  @include max-w($screen-xs) {
    display: none!important;
  }

  a {
    display: inline-block;
    margin-left: 7px;

    @include max-w($screen-md) {
      display: block;
      margin-bottom: 10px;
    }

    @include max-w($screen-sm) {
      margin-left: 0;
    }
  }
}




/*----------------------.footer-right--------------------------*/




.footer-right {
  overflow: hidden;
  text-align: right;

  span {
    display: block;
    color: #cccccc;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}


.footer-copyright {
  overflow: hidden;
  text-align: right;
  color: #cccccc;
  font-size: 1.2rem;
  line-height: 1.7rem;

   @include max-w($screen-md) {
    width: 100%;
    text-align: center;
   }

  span {
    display: block;
  }
}




/*---------------------.footer-icons-mobile---------------------*/




.footer-icons-mobile {
  display: none;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: hidden;

  @include max-w($screen-xs) {
    display: block;
  }

  img {
    display: block;
    float: left;
    margin-right: 11px;
  }

  img:nth-child(1) {
    width: 98px;
    height: 28px;
  }

  img:nth-child(2) {
    width: 60px;
    height: 27px;
  }

  img:nth-child(3) {
    width: 110px;
    height: 28px;
    margin-right: 0;
  }
}




/*-----------------------.go-up----------------------------*/




.go-up {
  position: absolute;
  top: -6px;
  left: 7%;

  @include max-w(1600px) {
    top: -6px;
    left: 3%;
  }

  @include max-w(1440px) {
    left: 1%!important;
  }

  @include max-w(1368px) {
    top: -34px!important;
    left: 0.5%!important;
  }

  @include max-w($screen-xl) {
    display: none;
  }

  a {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 2.1rem;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    transition: 0.5s;
  }

  a:hover {
    color: #ffaa31;
    border: 2px solid #ffaa31;
  }
}
